
html{
  background-color: rgb(16, 16, 20);
  font-family: roboto;
}

/* .App {
  background-color: rgb(16, 16, 20);
  height: 100%;
  margin: auto;
  font-family: roboto;
} */

h1 {
  font-size: 96px;
}

h2 {
  font-size: 32px;
}

.head {
  text-align: center;
  margin: auto;
  color: white
}
.leftText{
  color: white;
  font-size: 48px;
  text-align: left;
  margin-left: 100px;
  font-family: roboto;
}
.rightText{
  color: white;
  font-size: 48px;
  text-align: right;
  margin-right: 100px;
  font-family: roboto;
}

#ghLogo {
  width: 25%;
  height: auto;
  margin-right: 10%;
}

#rmIcon{
  width: 300px;
  height: 300px;
  object-fit: none;
  margin-left: 10%;
}

#first-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

#second-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}