/* .App {
  background-color: rgb(16, 16, 20);
  height: 100%;
  margin: auto;
  font-family: roboto;
} */
p {
  font-weight: bolder;
}

.LinkButton {
  width: 250px;
  height: 60px;
  font-size:25px;
  color: hsl(0, 0%, 8%);
  font-weight: bolder;
  background-color: white;
  box-shadow: 0 0 8px -3px white;
  margin: 0 auto;
}

button {
  /* margin:0 auto; */
  margin-bottom: 100px;
  /* display:block; */
  border-radius: 50px;
  border: none;
  background-color: hsl(216 88% 53% / 1);
}

.logo{
  width: 200px;
  margin-top: 200px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-family: system-ui;
}

.sec-title{
  color: white;
  font-size: 48px;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 30px;
  font-family: system-ui;
  font-weight: bolder;
}

#ghLogo {
  width: 300px;
  height: auto;
  margin-right: 10%;
  border-radius: 20%;
}

#rmIcon{
  width: 300px;
  height: 300px;
  margin-left: 10%;

}

#resIcon{
  width: 300px;
  height: 300px;
  margin-right: 10%;
}

#intro-block{
  background-color: rgb(16, 16, 20);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-block {
  background-color: #5c5470;
}

#first-wrapper{
  display: flex;
  flex-wrap: wrap;
}

#second-block {
  background-color: #352f44
}

/* #rm-title{
  color: white;
  font-size: 48px;
  text-align: right;
  font-family: roboto;
  margin-bottom: 30px;
  font-weight: bolder;
} */

.rm-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 100px;
  text-align: right;
}

.sub-text-right{
  color: white;
  font-size: 20px;
  text-align: right;
  margin-top: 0px;
  font-family: roboto;
  margin-left: 40%;
}

.sub-text{
  color: white;
  font-size: 22px;
  text-align: left;
  margin-left: 100px;
  margin-top: 0px;
  /* max-width: 400px; */
  margin-right: 40%;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-weight: initial;
}

#third-block {
  background-color: #2a2438;
}

#res-block{
  display: flex;
  flex-wrap: wrap;
}

#fourth-block {
  background-color: rgb(57 112 232);
}

.blocks{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}