.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 h1 {
    font-size: 72px;
    color: white
  }
  
  h2 {
    font-size: 24px;
    color: white
  }
  
  .label{
    color: white
  }
  .head {
    text-align: center;
    margin: auto;
    color: white
  }
  .text{
    color: white;
    font-size: 48px;
  }
  .App {
    background-color: rgb(16, 16, 20);
    height: 100dvh;
  }
  .form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }


  
  /*
  #gHLogo {
    max-height: 25%;
    max-width: 25%;
    margin-left: 50%;
  }
  */
  
  #first-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }